@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap");

@import "2_header.css";
@import "typography.css";
@import "colors.css";
@import "buttons.css";
@import "hero-section.css";
@import "test-section.css";
@import "how-section.css";
@import "calc-section.css";
@import "test-page.css";
@import "projects.css";
@import "calculator.css";
@import "about.css";
@import "basket.css";
@import "footer.css";

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;

  --padding: 3rem;
}

/*GLOBAL*/

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h-left {
  align-items: flex-start;
}

.h-center {
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  * {
    --padding: 5rem;
  }
}
