/*HERO section*/

.hero {
  background-color: white;
  min-height: 80vh;
  padding: var(--padding);
}

/* TEXT */

.hero .hero-title {
  font-size: 1.6rem;
  margin: 1rem 0 1rem 0;
  font-weight: normal;

  max-width: 320px;
}

.hero .strong {
  font-weight: 700;
}

.hero .hero-text {
  font-size: 1rem;
  margin: 1rem 0 2rem 0;
}

/* BUTTON */

.hero .button {
  margin: 30px 0;
}

.hero .button {
  background-color: var(--gold);
}

.hero .button:hover {
  background-color: var(--green);
}

/* HERO IMAGE */

.hero .hero-image {
  height: auto;
  width: 95%;
  margin: 0 auto;
}

/* Landscape view and Tablet size */

@media only screen and (min-width: 768px) {
  .hero {
    min-height: 75vh;
  }

  .hero.flex-container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .hero .hero-image {
    height: 40vh;
    width: auto;
    align-items: center;
    margin: auto auto;
  }

  .hero .hero-title {
    font-size: 3rem;
    margin: 4rem 0 1rem 0;
  }
}

/* Desktop size */

@media only screen and (min-width: 1024px) {
  .hero .hero-title {
    font-size: 4rem;
    margin: 5rem 0 1rem 0;

    max-width: 700px;
  }

  .hero .hero-text {
    font-size: 1.2rem;
    max-width: 750px;
    margin: 1rem 0 3rem 0;
  }

  .hero .hero-image {
    height: auto;
    width: 45vw;
    max-width: 600px;
  }
}
