/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 30vh;
  padding: 1rem var(--padding) 1rem;
}

.footer .icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer img.logo {
  border: 2px solid white;
}

.footer .media {
  display: flex;
  align-items: center;
}

.footer .icon {
  text-decoration: none;
  color: white;
}

.footer .icon:hover {
  cursor: pointer;
}

.footer .container-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  padding-top: 1rem;
}

.footer .subscribe-form {
  min-width: fit-content;
}

.footer .subscribe-text {
  font-size: 0.9rem;
  padding-bottom: 1em;
}

.footer .input {
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 10px;
}

.footer .submit-btn {
  padding: 10px;
  font-size: 0.9rem;
  width: fit-content;
  font-weight: 500;
  border: 2px solid white;
}

.footer .container-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  width: fit-content;
}

.footer .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  min-width: fit-content;
}

.footer .links a {
  color: white;
  margin-left: 0.9rem;
  text-decoration: none;
  font-size: 0.8rem;
}

.footer .links a:hover,
.footer .links a:focus,
.footer .links a:active {
  text-decoration: underline;
}

.footer .copyrights {
  font-size: 0.8rem;
  width: fit-content;
}

/* RESPONSIVE MENU*/
.footer .desktop-only {
  display: none;
}

@media only screen and (min-width: 600px) {
  .footer .desktop-only {
    display: unset;
  }

  .footer .mobile-only {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .footer .container-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
