/* FOOTER */

.footer {
  display: flex;

  background-color: black;
  color: white;
  height: 10vh;
  width: 100%;
}

.footer .media {
  margin: auto auto auto;
}

.footer .icon {
  text-decoration: none;
  color: white;
}

.footer .icon:hover {
  font-weight: bolder;
  cursor: pointer;
}

footer .contact {
  margin: auto var(--padding) auto auto;
}

/* RESPONSIVE MENU*/
.footer .desktop-only {
  display: none;
}

@media only screen and (min-width: 600px) {
  .footer .desktop-only {
    display: unset;
  }

  .footer .mobile-only {
    display: none;
  }
}
