/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0 var(--padding);
}

.footer .icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer .media {
  display: flex;
  align-items: center;
}

.footer .icon {
  text-decoration: none;
  color: white;
}

.footer .icon:hover {
  cursor: pointer;
}

.footer .input {
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 10px;
}

.footer .submit-btn {
  padding: 10px;
}

.footer .links {
  margin: 10px;
}

/* RESPONSIVE MENU*/
.footer .desktop-only {
  display: none;
}

@media only screen and (min-width: 600px) {
  .footer .desktop-only {
    display: unset;
  }

  .footer .mobile-only {
    display: none;
  }
}
