/*HEADER*/

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;

  background-color: black;
}

.logo {
  color: white;
  margin: auto auto auto var(--padding);
  text-decoration: none;
  font-weight: 600;
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin: auto var(--padding) auto 1rem;
}

.icon {
  height: 25px;
  width: auto;
}

.lang-item {
  color: rgb(180, 180, 180);
  font-size: smaller;
}

/* RESPONSIVE MENU*/
.header .desktop-only {
  display: none;
}

@media only screen and (min-width: 600px) {
  .header .desktop-only {
    display: unset;
  }

  .header .mobile-only {
    display: none;
  }
}
