/*HERO section*/

.hero {
  background-color: var(--white);
  height: 80vh;
  padding: var(--padding);
}

.hero .hero-title {
  font-size: 4rem;
  margin: 1rem 0 1rem 0;
}

.hero .accent {
  font-weight: 700;
}

.hero-text {
  font-size: 1.5rem;
  max-width: 750px;
  margin: 1rem 0 1rem 0;
}

.hero .button {
  margin: 30px 0;
}

.hero .button {
  background-color: var(--black);
}

.hero .button:hover {
  background-color: var(--gold);
}

/* RESPONSIVE HERO ILLUSTRATION */

.hero-image {
  height: 30vh;
  width: auto;
}

@media only screen and (min-width: 1000px) {
  .hero-image {
    position: absolute;
    top: 90px;
    right: 0;
  }
}
