/* HOW IT WORKS section */

.how-section {
  min-height: 50vh;
  width: 100%;
  padding: 1rem var(--padding);
}

.how-section .flex-container {
  width: 100%;
}

.step-list {
  display: flex;
  flex-wrap: wrap;
}

.step-item {
  border: 2px solid red;
  width: 100%;
  margin: 10px;
  padding: 2em;
}

@media only screen and (min-width: 1024px) {
  .step-item {
    width: 30%;
  }
}
