@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import "header.css";
@import "hero.css";
@import "projects.css";
@import "test.css";
@import "about.css";
@import "buttons.css";
@import "footer.css";

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;

  --padding: 3rem;
}

/*GLOBAL*/

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-align-left {
  align-items: flex-start;
}

.flex-align-center {
  align-items: center;
}

/*TEST section*/

.test {
  background-color: #bdbdbd;
  height: 70vh;
}

.box {
  border: 5px solid rgba(0, 128, 0, 0.348);
  padding: 5rem;
  border-radius: 10px;
}

.title {
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
}

.text {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

.test .button {
  background-color: purple;
  max-width: fit-content;
}
