@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap");

@import "header.css";
@import "typography.css";
@import "colors.css";
@import "hero.css";
@import "projects.css";
@import "test.css";
@import "about.css";
@import "buttons.css";
@import "footer.css";

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;

  --padding: 3rem;
}

/*GLOBAL*/

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-align-left {
  align-items: flex-start;
}

.flex-align-center {
  align-items: center;
}

/*TEST section*/

.test {
  background-color: var(--gold);
  height: 40vh;
}

.box {
  /* border: 5px solid rgba(0, 128, 0, 0.348); */
  padding: 5rem;
  border-radius: 10px;
}

.title {
  font-size: 2.25rem;
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.accent {
  font-weight: 600;
}

.text {
  font-size: 0.8rem;
  margin: 0 0 1rem 0;
}

.test a.button {
  background-color: purple;
  max-width: fit-content;
}

/* HOW IT WORKS section */

.step-list {
  display: flex;
  justify-content: space-around;
}

.step-item {
  border: 2px solid red;
  margin: 10px;
  padding: 2em;
}
