.answer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.answer-item {
  width: 200px;
  min-width: calc(50%-2px);
  height: 200px;
  background-color: rgb(182, 149, 149);
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem;
}

.test.hero {
  height: unset;
}

.test a.button {
  background-color: green;
}
