/* TEST section */

.test-section {
  min-height: 55vh;
  padding: 1rem var(--padding) 2rem var(--padding);

  background-image: url("../assets/image_forest.png");
  background-color: var(--gold);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}

.test-section .title {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  color: var(--white);
  text-align: left;
}

.test-section .accent {
  font-weight: 600;
}

.test-section .text {
  font-size: 1rem;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.304);
  text-align: left;
  margin-bottom: 1rem;
}

.test-section a.button {
  background-color: var(--violet);
  min-width: fit-content;
  width: 150px;
  text-align: center;
  align-self: left;
  box-shadow: 20px 10px 10px black;
  margin-top: 1rem;
}

.test-section a.button:hover,
.test-section a.button:active,
.test-section a.button:focus {
  background-color: var(--green);
}

/* RESPONSIVE HERO TITLE and ILLUSTRATION */

/* Landscape view and Tablet size */

@media only screen and (min-width: 658px) {
  .test-section .title {
    font-size: 2rem;
  }

  .test-section a.button {
    align-self: center;
  }
}

/* Desktop size */

@media only screen and (min-width: 1024px) {
  .test-section {
    background-color: var(--gold);
    min-height: 40vh;
  }

  .test-section .title {
    font-size: 2.5rem;
    margin: 1rem 0 1rem 0;
    text-align: center;
  }

  .test-section .accent {
    font-weight: 600;
  }

  .test-section .text {
    font-size: 0.8rem;
    margin: 0 0 1rem 0;
  }
}
