/* TEXT */

/* Not sure those are needed if there are text classes defined */

h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  font-weight: 500;
}

h3 {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  font-weight: 500;
}
